In [244]:
import pandas as pd
import sklearn as sk
import matplotlib.pyplot as plt
import seaborn as sns

In [245]:
#Importing dataset and defining path variables
path = './data/'
filename = 'ipo_stock_2010_2018.csv'

df_ipo = pd.read_csv(path + filename)
df_ipo

,Company Name,Symbol,Market,Price,Shares,Offer Amount,Date Priced,employees,address,US_state,...,inmonth_volume,inweek_adjclose,inweek_open,inweek_spread,inweek_volume,sector,industry,employees2019,CEO_pay,CEO_born
0,ANDATEE CHINA MARINE FUEL SERVICES CORP,AMCF,NASDAQ,6.3,3134921.0,1.975000e+07,2010-01-26,128.0,NO. 68 BINHAI RD DALIAN XIGANG DISTRICTDALIAN ...,NaN,...,323300.0,5.830000,6.030000,0.280000,106300.0,Energy,Oil & Gas Equipment & Services,189.0,NaN,NaN
1,CHESAPEAKE LODGING TRUST,CHSP,New York Stock Exchange,20.0,7500000.0,1.500000e+08,2010-01-22,3.0,"4300 WILSON BOULEVARDSUITE 625ARLINGTON, VA 22203",VA,...,40500.0,11.927483,18.910000,0.139999,75900.0,Real Estate,REIT - Hotel & Motel,13.0,2320000.0,1962.0
2,GENERAC HOLDINGS INC.,GNRC,New York Stock Exchange,13.0,18750000.0,2.437500e+08,2010-02-11,1486.0,"S45 W29290 HIGHWAY 59WAUKESHA, WI 53187",WI,...,265400.0,8.612183,13.050000,0.290000,110000.0,Industrials,Diversified Industrials,5046.0,1650000.0,1972.0
3,"QUINSTREET, INC",QNST,NASDAQ,15.0,10000000.0,1.500000e+08,2010-02-11,568.0,"950 TOWER LANE, 6TH FLOORFOSTER CITY, CA 94404",CA,...,27300.0,12.980000,13.500000,0.809999,504000.0,Technology,Internet Content & Information,506.0,816150.0,1960.0
4,TERRENO REALTY CORP,TRNO,New York Stock Exchange,20.0,8750000.0,1.750000e+08,2010-02-10,6.0,"16 MAIDEN LANEFIFTH FLOORSAN FRANCISCO, CA 94108",CA,...,64300.0,14.770803,18.809999,0.199999,91200.0,Real Estate,REIT - Industrial,23.0,799500.0,1961.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1131,TENCENT MUSIC ENTERTAINMENT GROUP,TME,NYSE,13.0,82000000.0,1.066000e+09,2018-12-12,2559.0,"17/F, MALATA BUILDING, KEJIZHONGYI ROADMIDWEST...",NaN,...,5211900.0,12.190000,12.400000,0.640000,6873900.0,Technology,Internet Content & Information,3041.0,NaN,1974.0
1132,"SYNTHORX, INC.",THOR,NASDAQ Global Select,11.0,11912727.0,1.310400e+08,2018-12-07,25.0,11099 NORTH TORREY PINES ROADSUITE 190LA JOLLA...,CA,...,86800.0,14.990000,15.300000,1.676001,84500.0,Healthcare,Biotechnology,39.0,606480.0,1958.0
1133,DIAMEDICA THERAPEUTICS INC.,DMAC,NASDAQ Capital,4.0,4100000.0,1.640000e+07,2018-12-07,11.0,"2 CARLSON PARKWAYSUITE 260MINNEAPOLIS, MN 55447",MN,...,268100.0,8.744000,7.940000,0.944000,419500.0,Healthcare,Biotechnology,9.0,492400.0,1971.0
1134,"MODERNA, INC.",MRNA,NASDAQ Global Select,23.0,26275993.0,6.043478e+08,2018-12-07,700.0,"200 TECHNOLOGY SQUARECAMBRIDGE, MA 02139",MA,...,652600.0,17.000000,17.100000,1.000000,1621600.0,Healthcare,Biotechnology,760.0,2670000.0,1973.0
1135,MOGU INC.,MOGU,NYSE,14.0,4750000.0,6.650000e+07,2018-12-06,1000.0,ZHESHANG WEALTH CENTER BUILDING NO. 1NO. 99 GU...,NaN,...,168400.0,16.870001,20.430000,4.389999,531600.0,Consumer Cyclical,Specialty Retail,1005.0,NaN,1981.0

In [246]:
#Imputing missing values with mean for numerical columns
numeric_cols = df_ipo.select_dtypes(include=['int64','float64'])
categorical_cols = df_ipo.select_dtypes(include=['object'])

#Imputing numeric cols
numeric_cols.fillna(numeric_cols.mean(), inplace=True)
categorical_cols = categorical_cols.apply(lambda x: x.fillna(x.mode()[0]) if x.isna().sum() > 0 else x, axis = 1)

In [247]:
#Performing Shapiro Wilk tests to test for approximate normality
import math
import numpy as np
from scipy.stats import shapiro 
from scipy.stats import kstest
from scipy.stats import lognorm

normality_check = numeric_cols.apply(lambda x: print(kstest(x, 'norm')), axis = 0)
#normality_check = numeric_cols.apply(lambda x: print(shapiro(x)), axis = 0)

#Most columns are not Gaussian, normalization instead of standardization is used

KstestResult(statistic=0.999088047068026, pvalue=0.0)
KstestResult(statistic=1.0, pvalue=0.0)
KstestResult(statistic=1.0, pvalue=0.0)
KstestResult(statistic=0.9431923554894966, pvalue=0.0)
KstestResult(statistic=0.9514588029717197, pvalue=0.0)
KstestResult(statistic=0.9540996480421422, pvalue=0.0)
KstestResult(statistic=0.5, pvalue=3.867951959080918e-263)
KstestResult(statistic=0.905809859154929, pvalue=0.0)
KstestResult(statistic=0.9604730383062184, pvalue=0.0)
KstestResult(statistic=0.9616243281580873, pvalue=0.0)
KstestResult(statistic=0.5, pvalue=3.867951959080918e-263)
KstestResult(statistic=0.9595070422535211, pvalue=0.0)
KstestResult(statistic=0.9573605740545975, pvalue=0.0)
KstestResult(statistic=0.9587706671616072, pvalue=0.0)
KstestResult(statistic=0.5, pvalue=3.867951959080918e-263)
KstestResult(statistic=0.9559859154929577, pvalue=0.0)
KstestResult(statistic=0.9973274836877444, pvalue=0.0)
KstestResult(statistic=1.0, pvalue=0.0)
KstestResult(statistic=1.0, pvalue=0.0)

In [248]:
#Normalizing numerical features
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalized_data = scaler.fit_transform(numeric_cols)
numeric_cols = pd.DataFrame(normalized_data, columns=numeric_cols.columns)
numeric_cols

,Price,Shares,Offer Amount,employees,firstday_adjclose,firstday_open,firstday_spread,firstday_volume,inmonth_adjclose,inmonth_open,inmonth_spread,inmonth_volume,inweek_adjclose,inweek_open,inweek_spread,inweek_volume,employees2019,CEO_pay,CEO_born
0,0.021159,0.006196,0.000797,0.000471,0.000058,0.000068,0.000066,0.001941,0.000073,0.000076,0.000269,0.000710,0.000049,0.000050,0.000017,0.000174,0.000696,0.054608,0.558996
1,0.105182,0.015331,0.006782,0.000011,0.000122,0.000204,0.000012,0.000267,0.000120,0.000185,0.000173,0.000089,0.000100,0.000158,0.000008,0.000125,0.000044,0.102833,0.516667
2,0.062251,0.038876,0.011089,0.005463,0.000086,0.000140,0.000070,0.016784,0.000093,0.000142,0.000316,0.000583,0.000072,0.000109,0.000018,0.000181,0.018685,0.073120,0.683333
3,0.074517,0.020563,0.006782,0.002088,0.000152,0.000161,0.000058,0.010139,0.000157,0.000152,0.000255,0.000060,0.000109,0.000113,0.000049,0.000827,0.001870,0.036140,0.483333
4,0.105182,0.017947,0.007930,0.000022,0.000149,0.000201,0.000035,0.007872,0.000147,0.000186,0.000065,0.000141,0.000124,0.000157,0.000012,0.000150,0.000081,0.035402,0.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1131,0.062251,0.171246,0.048868,0.009408,0.000142,0.000151,0.000083,0.105101,0.000145,0.000146,0.000401,0.011448,0.000102,0.000103,0.000039,0.011284,0.011259,0.054608,0.716667
1132,0.049985,0.024566,0.005910,0.000092,0.000128,0.000165,0.000295,0.001142,0.000132,0.000142,0.000490,0.000191,0.000126,0.000128,0.000101,0.000139,0.000141,0.026841,0.450000
1133,0.007053,0.008216,0.000643,0.000040,0.000062,0.000065,0.000000,0.000000,0.000106,0.000105,0.000306,0.000589,0.000073,0.000066,0.000057,0.000689,0.000030,0.021782,0.666667
1134,0.123582,0.054626,0.027657,0.002574,0.000189,0.000236,0.000352,0.022657,0.000142,0.000148,0.000395,0.001434,0.000143,0.000143,0.000060,0.002662,0.002811,0.118355,0.700000
1135,0.068384,0.009576,0.002945,0.003676,0.000142,0.000129,0.000216,0.005930,0.000158,0.000150,0.000955,0.000370,0.000142,0.000170,0.000265,0.000873,0.003719,0.054608,0.833333

In [249]:
#Concatenating imputed cols
df_ipo = pd.concat([numeric_cols, categorical_cols], axis = 1)
df_ipo.isna().sum()

Price                0
Shares               0
Offer Amount         0
employees            0
firstday_adjclose    0
firstday_open        0
firstday_spread      0
firstday_volume      0
inmonth_adjclose     0
inmonth_open         0
inmonth_spread       0
inmonth_volume       0
inweek_adjclose      0
inweek_open          0
inweek_spread        0
inweek_volume        0
employees2019        0
CEO_pay              0
CEO_born             0
Company Name         0
Symbol               0
Market               0
Date Priced          0
address              0
US_state             0
descriptions         0
link_nasdaq          0
year                 0
sector               0
industry             0
dtype: int64

In [250]:
#Building intra-day, intra-week and intra-month return features
df_ipo['intra_day_ret'] = df_ipo['firstday_adjclose'] / df_ipo['Price'] - 1.0
df_ipo['intra_week_ret'] = df_ipo['inweek_adjclose'] / df_ipo['Price'] - 1.0
df_ipo['intra_month_ret'] = df_ipo['inmonth_adjclose'] / df_ipo['Price'] - 1.0
df_ipo

#Building binary flags for three return periods (1 for underperformance, 0 for non underperformance, e.g. positive returns)
df_ipo['intra_day_up'] = df_ipo.apply(lambda x: 1 if x['intra_day_ret'] < 0 else 0, axis = 1)
df_ipo['intra_week_up'] = df_ipo.apply(lambda x: 1 if x['intra_week_ret'] < 0 else 0, axis = 1)
df_ipo['intra_month_up'] = df_ipo.apply(lambda x: 1 if x['intra_month_ret'] < 0 else 0, axis = 1)

df_ipo

,Price,Shares,Offer Amount,employees,firstday_adjclose,firstday_open,firstday_spread,firstday_volume,inmonth_adjclose,inmonth_open,...,link_nasdaq,year,sector,industry,intra_day_ret,intra_week_ret,intra_month_ret,intra_day_up,intra_week_up,intra_month_up
0,0.021159,0.006196,0.000797,0.000471,0.000058,0.000068,0.000066,0.001941,0.000073,0.000076,...,https://www.nasdaq.com/markets/ipos/company/an...,2010-01-01,Energy,Oil & Gas Equipment & Services,-0.997236,-0.997686,-0.996560,1,1,1
1,0.105182,0.015331,0.006782,0.000011,0.000122,0.000204,0.000012,0.000267,0.000120,0.000185,...,https://www.nasdaq.com/markets/ipos/company/ch...,2010-01-01,Real Estate,REIT - Hotel & Motel,-0.998844,-0.999048,-0.998860,1,1,1
2,0.062251,0.038876,0.011089,0.005463,0.000086,0.000140,0.000070,0.016784,0.000093,0.000142,...,https://www.nasdaq.com/markets/ipos/company/ge...,2010-01-01,Industrials,Diversified Industrials,-0.998622,-0.998838,-0.998503,1,1,1
3,0.074517,0.020563,0.006782,0.002088,0.000152,0.000161,0.000058,0.010139,0.000157,0.000152,...,https://www.nasdaq.com/markets/ipos/company/qu...,2010-01-01,Technology,Internet Content & Information,-0.997959,-0.998537,-0.997888,1,1,1
4,0.105182,0.017947,0.007930,0.000022,0.000149,0.000201,0.000035,0.007872,0.000147,0.000186,...,https://www.nasdaq.com/markets/ipos/company/te...,2010-01-01,Real Estate,REIT - Industrial,-0.998584,-0.998820,-0.998602,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1131,0.062251,0.171246,0.048868,0.009408,0.000142,0.000151,0.000083,0.105101,0.000145,0.000146,...,https://www.nasdaq.com/markets/ipos/company/te...,2018-01-01,Technology,Internet Content & Information,-0.997720,-0.998355,-0.997677,1,1,1
1132,0.049985,0.024566,0.005910,0.000092,0.000128,0.000165,0.000295,0.001142,0.000132,0.000142,...,https://www.nasdaq.com/markets/ipos/company/sy...,2018-01-01,Healthcare,Biotechnology,-0.997443,-0.997481,-0.997366,1,1,1
1133,0.007053,0.008216,0.000643,0.000040,0.000062,0.000065,0.000000,0.000000,0.000106,0.000105,...,https://www.nasdaq.com/markets/ipos/company/di...,2018-01-01,Healthcare,Biotechnology,-0.991245,-0.989587,-0.985037,1,1,1
1134,0.123582,0.054626,0.027657,0.002574,0.000189,0.000236,0.000352,0.022657,0.000142,0.000148,...,https://www.nasdaq.com/markets/ipos/company/mo...,2018-01-01,Healthcare,Biotechnology,-0.998474,-0.998845,-0.998852,1,1,1
1135,0.068384,0.009576,0.002945,0.003676,0.000142,0.000129,0.000216,0.005930,0.000158,0.000150,...,https://www.nasdaq.com/markets/ipos/company/mo...,2018-01-01,Consumer Cyclical,Specialty Retail,-0.997925,-0.997928,-0.997686,1,1,1

In [251]:
df_ipo.columns

Index(['Price', 'Shares', 'Offer Amount', 'employees', 'firstday_adjclose',
       'firstday_open', 'firstday_spread', 'firstday_volume',
       'inmonth_adjclose', 'inmonth_open', 'inmonth_spread', 'inmonth_volume',
       'inweek_adjclose', 'inweek_open', 'inweek_spread', 'inweek_volume',
       'employees2019', 'CEO_pay', 'CEO_born', 'Company Name', 'Symbol',
       'Market', 'Date Priced', 'address', 'US_state', 'descriptions',
       'link_nasdaq', 'year', 'sector', 'industry', 'intra_day_ret',
       'intra_week_ret', 'intra_month_ret', 'intra_day_up', 'intra_week_up',
       'intra_month_up'],
      dtype='object')

In [252]:
#Adding day of the week feature
df_ipo['IPO_weekday'] = pd.to_datetime(df_ipo['Date Priced']).dt.day_of_week
df_ipo

,Price,Shares,Offer Amount,employees,firstday_adjclose,firstday_open,firstday_spread,firstday_volume,inmonth_adjclose,inmonth_open,...,year,sector,industry,intra_day_ret,intra_week_ret,intra_month_ret,intra_day_up,intra_week_up,intra_month_up,IPO_weekday
0,0.021159,0.006196,0.000797,0.000471,0.000058,0.000068,0.000066,0.001941,0.000073,0.000076,...,2010-01-01,Energy,Oil & Gas Equipment & Services,-0.997236,-0.997686,-0.996560,1,1,1,1
1,0.105182,0.015331,0.006782,0.000011,0.000122,0.000204,0.000012,0.000267,0.000120,0.000185,...,2010-01-01,Real Estate,REIT - Hotel & Motel,-0.998844,-0.999048,-0.998860,1,1,1,4
2,0.062251,0.038876,0.011089,0.005463,0.000086,0.000140,0.000070,0.016784,0.000093,0.000142,...,2010-01-01,Industrials,Diversified Industrials,-0.998622,-0.998838,-0.998503,1,1,1,3
3,0.074517,0.020563,0.006782,0.002088,0.000152,0.000161,0.000058,0.010139,0.000157,0.000152,...,2010-01-01,Technology,Internet Content & Information,-0.997959,-0.998537,-0.997888,1,1,1,3
4,0.105182,0.017947,0.007930,0.000022,0.000149,0.000201,0.000035,0.007872,0.000147,0.000186,...,2010-01-01,Real Estate,REIT - Industrial,-0.998584,-0.998820,-0.998602,1,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1131,0.062251,0.171246,0.048868,0.009408,0.000142,0.000151,0.000083,0.105101,0.000145,0.000146,...,2018-01-01,Technology,Internet Content & Information,-0.997720,-0.998355,-0.997677,1,1,1,2
1132,0.049985,0.024566,0.005910,0.000092,0.000128,0.000165,0.000295,0.001142,0.000132,0.000142,...,2018-01-01,Healthcare,Biotechnology,-0.997443,-0.997481,-0.997366,1,1,1,4
1133,0.007053,0.008216,0.000643,0.000040,0.000062,0.000065,0.000000,0.000000,0.000106,0.000105,...,2018-01-01,Healthcare,Biotechnology,-0.991245,-0.989587,-0.985037,1,1,1,4
1134,0.123582,0.054626,0.027657,0.002574,0.000189,0.000236,0.000352,0.022657,0.000142,0.000148,...,2018-01-01,Healthcare,Biotechnology,-0.998474,-0.998845,-0.998852,1,1,1,4
1135,0.068384,0.009576,0.002945,0.003676,0.000142,0.000129,0.000216,0.005930,0.000158,0.000150,...,2018-01-01,Consumer Cyclical,Specialty Retail,-0.997925,-0.997928,-0.997686,1,1,1,3

In [253]:
#Indexing by IPO date
df_ipo.set_index('Date Priced', drop = True, inplace= True)
df_ipo

,Price,Shares,Offer Amount,employees,firstday_adjclose,firstday_open,firstday_spread,firstday_volume,inmonth_adjclose,inmonth_open,...,year,sector,industry,intra_day_ret,intra_week_ret,intra_month_ret,intra_day_up,intra_week_up,intra_month_up,IPO_weekday
Date Priced,,,,,,,,,,,,,,,,,,,,,
2010-01-26,0.021159,0.006196,0.000797,0.000471,0.000058,0.000068,0.000066,0.001941,0.000073,0.000076,...,2010-01-01,Energy,Oil & Gas Equipment & Services,-0.997236,-0.997686,-0.996560,1,1,1,1
2010-01-22,0.105182,0.015331,0.006782,0.000011,0.000122,0.000204,0.000012,0.000267,0.000120,0.000185,...,2010-01-01,Real Estate,REIT - Hotel & Motel,-0.998844,-0.999048,-0.998860,1,1,1,4
2010-02-11,0.062251,0.038876,0.011089,0.005463,0.000086,0.000140,0.000070,0.016784,0.000093,0.000142,...,2010-01-01,Industrials,Diversified Industrials,-0.998622,-0.998838,-0.998503,1,1,1,3
2010-02-11,0.074517,0.020563,0.006782,0.002088,0.000152,0.000161,0.000058,0.010139,0.000157,0.000152,...,2010-01-01,Technology,Internet Content & Information,-0.997959,-0.998537,-0.997888,1,1,1,3
2010-02-10,0.105182,0.017947,0.007930,0.000022,0.000149,0.000201,0.000035,0.007872,0.000147,0.000186,...,2010-01-01,Real Estate,REIT - Industrial,-0.998584,-0.998820,-0.998602,1,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-12,0.062251,0.171246,0.048868,0.009408,0.000142,0.000151,0.000083,0.105101,0.000145,0.000146,...,2018-01-01,Technology,Internet Content & Information,-0.997720,-0.998355,-0.997677,1,1,1,2
2018-12-07,0.049985,0.024566,0.005910,0.000092,0.000128,0.000165,0.000295,0.001142,0.000132,0.000142,...,2018-01-01,Healthcare,Biotechnology,-0.997443,-0.997481,-0.997366,1,1,1,4
2018-12-07,0.007053,0.008216,0.000643,0.000040,0.000062,0.000065,0.000000,0.000000,0.000106,0.000105,...,2018-01-01,Healthcare,Biotechnology,-0.991245,-0.989587,-0.985037,1,1,1,4
2018-12-07,0.123582,0.054626,0.027657,0.002574,0.000189,0.000236,0.000352,0.022657,0.000142,0.000148,...,2018-01-01,Healthcare,Biotechnology,-0.998474,-0.998845,-0.998852,1,1,1,4
2018-12-06,0.068384,0.009576,0.002945,0.003676,0.000142,0.000129,0.000216,0.005930,0.000158,0.000150,...,2018-01-01,Consumer Cyclical,Specialty Retail,-0.997925,-0.997928,-0.997686,1,1,1,3

In [254]:
#Looking at class balances
print(df_ipo.intra_day_up.value_counts(normalize=True))
print(df_ipo.intra_week_up.value_counts(normalize=True))
print(df_ipo.intra_month_up.value_counts(normalize=True))

1    0.995599
0    0.004401
Name: intra_day_up, dtype: float64
1    0.995599
0    0.004401
Name: intra_week_up, dtype: float64
1    0.994718
0    0.005282
Name: intra_month_up, dtype: float64

In [255]:
df_ipo

,Price,Shares,Offer Amount,employees,firstday_adjclose,firstday_open,firstday_spread,firstday_volume,inmonth_adjclose,inmonth_open,...,year,sector,industry,intra_day_ret,intra_week_ret,intra_month_ret,intra_day_up,intra_week_up,intra_month_up,IPO_weekday
Date Priced,,,,,,,,,,,,,,,,,,,,,
2010-01-26,0.021159,0.006196,0.000797,0.000471,0.000058,0.000068,0.000066,0.001941,0.000073,0.000076,...,2010-01-01,Energy,Oil & Gas Equipment & Services,-0.997236,-0.997686,-0.996560,1,1,1,1
2010-01-22,0.105182,0.015331,0.006782,0.000011,0.000122,0.000204,0.000012,0.000267,0.000120,0.000185,...,2010-01-01,Real Estate,REIT - Hotel & Motel,-0.998844,-0.999048,-0.998860,1,1,1,4
2010-02-11,0.062251,0.038876,0.011089,0.005463,0.000086,0.000140,0.000070,0.016784,0.000093,0.000142,...,2010-01-01,Industrials,Diversified Industrials,-0.998622,-0.998838,-0.998503,1,1,1,3
2010-02-11,0.074517,0.020563,0.006782,0.002088,0.000152,0.000161,0.000058,0.010139,0.000157,0.000152,...,2010-01-01,Technology,Internet Content & Information,-0.997959,-0.998537,-0.997888,1,1,1,3
2010-02-10,0.105182,0.017947,0.007930,0.000022,0.000149,0.000201,0.000035,0.007872,0.000147,0.000186,...,2010-01-01,Real Estate,REIT - Industrial,-0.998584,-0.998820,-0.998602,1,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-12,0.062251,0.171246,0.048868,0.009408,0.000142,0.000151,0.000083,0.105101,0.000145,0.000146,...,2018-01-01,Technology,Internet Content & Information,-0.997720,-0.998355,-0.997677,1,1,1,2
2018-12-07,0.049985,0.024566,0.005910,0.000092,0.000128,0.000165,0.000295,0.001142,0.000132,0.000142,...,2018-01-01,Healthcare,Biotechnology,-0.997443,-0.997481,-0.997366,1,1,1,4
2018-12-07,0.007053,0.008216,0.000643,0.000040,0.000062,0.000065,0.000000,0.000000,0.000106,0.000105,...,2018-01-01,Healthcare,Biotechnology,-0.991245,-0.989587,-0.985037,1,1,1,4
2018-12-07,0.123582,0.054626,0.027657,0.002574,0.000189,0.000236,0.000352,0.022657,0.000142,0.000148,...,2018-01-01,Healthcare,Biotechnology,-0.998474,-0.998845,-0.998852,1,1,1,4
2018-12-06,0.068384,0.009576,0.002945,0.003676,0.000142,0.000129,0.000216,0.005930,0.000158,0.000150,...,2018-01-01,Consumer Cyclical,Specialty Retail,-0.997925,-0.997928,-0.997686,1,1,1,3

In [256]:
drop_columns = ['Offer Amount', 'firstday_adjclose',
       'firstday_open', 'firstday_spread', 'inmonth_adjclose', 
       'inmonth_open', 'inmonth_spread', 'inweek_adjclose', 'inweek_open', 'inweek_spread','employees2019',
       'Company Name', 'Symbol','address', 'US_state', 'descriptions', 'link_nasdaq','year', 'industry', 'year', 'industry', 'intra_day_ret', 'intra_week_ret',
       'intra_month_ret']
df_ipo.drop(drop_columns, axis = 1, inplace = True)
df_ipo

,Price,Shares,employees,firstday_volume,inmonth_volume,inweek_volume,CEO_pay,CEO_born,Market,sector,intra_day_up,intra_week_up,intra_month_up,IPO_weekday
Date Priced,,,,,,,,,,,,,,
2010-01-26,0.021159,0.006196,0.000471,0.001941,0.000710,0.000174,0.054608,0.558996,NASDAQ,Energy,1,1,1,1
2010-01-22,0.105182,0.015331,0.000011,0.000267,0.000089,0.000125,0.102833,0.516667,New York Stock Exchange,Real Estate,1,1,1,4
2010-02-11,0.062251,0.038876,0.005463,0.016784,0.000583,0.000181,0.073120,0.683333,New York Stock Exchange,Industrials,1,1,1,3
2010-02-11,0.074517,0.020563,0.002088,0.010139,0.000060,0.000827,0.036140,0.483333,NASDAQ,Technology,1,1,1,3
2010-02-10,0.105182,0.017947,0.000022,0.007872,0.000141,0.000150,0.035402,0.500000,New York Stock Exchange,Real Estate,1,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-12,0.062251,0.171246,0.009408,0.105101,0.011448,0.011284,0.054608,0.716667,NYSE,Technology,1,1,1,2
2018-12-07,0.049985,0.024566,0.000092,0.001142,0.000191,0.000139,0.026841,0.450000,NASDAQ Global Select,Healthcare,1,1,1,4
2018-12-07,0.007053,0.008216,0.000040,0.000000,0.000589,0.000689,0.021782,0.666667,NASDAQ Capital,Healthcare,1,1,1,4
2018-12-07,0.123582,0.054626,0.002574,0.022657,0.001434,0.002662,0.118355,0.700000,NASDAQ Global Select,Healthcare,1,1,1,4
2018-12-06,0.068384,0.009576,0.003676,0.005930,0.000370,0.000873,0.054608,0.833333,NYSE,Consumer Cyclical,1,1,1,3

In [257]:
df_ipo.describe()

,Price,Shares,employees,firstday_volume,inmonth_volume,inweek_volume,CEO_pay,CEO_born,intra_day_up,intra_week_up,intra_month_up,IPO_weekday
count,1136.000000,1136.000000,1136.000000,1136.000000,1136.000000,1136.000000,1136.000000,1136.000000,1136.000000,1136.000000,1136.000000,1136.000000
mean,0.075387,0.029370,0.011425,0.015231,0.002065,0.001916,0.054608,0.558996,0.995599,0.995599,0.994718,2.975352
std,0.050556,0.058098,0.059658,0.054432,0.030433,0.030061,0.050605,0.134298,0.066226,0.066226,0.072515,0.914547
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.049985,0.010099,0.000165,0.000668,0.000063,0.000067,0.032288,0.466667,1.000000,1.000000,1.000000,2.000000
50%,0.074517,0.015227,0.000982,0.005420,0.000217,0.000203,0.054608,0.558996,1.000000,1.000000,1.000000,3.000000
75%,0.092916,0.026934,0.004463,0.014272,0.000637,0.000580,0.054608,0.650000,1.000000,1.000000,1.000000,4.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000