In [25]:
import pandas as pd
import numpy as np
import sklearn as sk
import matplotlib.pyplot as plt
import seaborn as sns
import yfinance as yf

In [26]:
#Importing dataset and defining path variables
path = './data/'
smallfile = 'clean_ipo_stock_2010_2018.csv'
largefile = 'master_data.csv'

df_ipo_small = pd.read_csv(path + smallfile, index_col='ipoDate')
df_ipo_large = pd.read_csv(path + largefile, index_col= 'ipoDate')

df_ipo_small

,Price,employees,CEO_age,intra_day_up,intra_week_up,intra_month_up,Symbol,sector,IPO_weekday,firstday_volume,inweek_volume,inmonth_volume
ipoDate,,,,,,,,,,,,
2010-01-26,6.3,128.0,57.460211,1,1,0,AMCF,Energy,1,9.555630e+05,5.932224e+06,6.363594e+06
2010-01-22,20.0,3.0,60.000000,1,1,1,CHSP,Real Estate,4,3.492458e+06,6.004700e+05,1.911825e+06
2010-02-11,13.0,1486.0,50.000000,1,1,1,GNRC,Industrials,3,1.689209e+07,2.179070e+06,4.953062e+06
2010-02-11,15.0,568.0,62.000000,0,1,0,QNST,Technology,3,5.372077e+06,3.361885e+06,7.002853e+06
2010-02-10,20.0,6.0,61.000000,1,1,1,TRNO,Real Estate,2,4.515261e+06,7.613210e+05,1.937712e+06
...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-12,13.0,2559.0,48.000000,0,1,0,TME,Technology,2,6.028340e+07,1.319195e+08,1.973692e+08
2018-12-07,11.0,25.0,64.000000,0,0,0,THOR,Healthcare,4,9.415332e+06,7.682246e+06,1.796531e+07
2018-12-07,4.0,11.0,51.000000,0,0,0,DMAC,Healthcare,4,1.124000e+06,1.950800e+06,2.791700e+06
2018-12-07,23.0,700.0,49.000000,1,1,1,MRNA,Healthcare,4,1.299560e+07,2.719060e+07,4.591720e+07
2018-12-06,14.0,1000.0,41.000000,0,0,0,MOGU,Consumer Cyclical,3,2.834250e+05,6.690820e+05,9.186550e+05

In [27]:
#Dropping Symbol column
df_ipo_small.drop('Symbol', inplace=True, axis = 1)
df_ipo_large.drop('Symbol', inplace=True, axis = 1)

#One hot encoding sector and weekday cols
categorical_cols = ['sector', 'IPO_weekday'] 
df_ipo_small = pd.get_dummies(df_ipo_small, columns = categorical_cols)
df_ipo_large = pd.get_dummies(df_ipo_large, columns = categorical_cols)
df_ipo_large

,index,Price,employees,CEO_age,intra_day_up,intra_week_up,intra_month_up,firstday_volume,inweek_volume,inmonth_volume,...,sector_Public Utilities,sector_Real Estate,sector_Technology,sector_Transportation,sector_Utilities,IPO_weekday_0,IPO_weekday_1,IPO_weekday_2,IPO_weekday_3,IPO_weekday_4
ipoDate,,,,,,,,,,,,,,,,,,,,,
2010-01-26,0,6.3000,128.000000,57.460211,1,1,0,955563.0,5932224.0,6363594.0,...,0,0,0,0,0,0,1,0,0,0
2010-01-22,1,20.0000,3.000000,60.000000,1,1,1,3492458.0,600470.0,1911825.0,...,0,1,0,0,0,0,0,0,0,1
2010-02-11,2,13.0000,1486.000000,50.000000,1,1,1,16892087.0,2179070.0,4953062.0,...,0,0,0,0,0,0,0,0,1,0
2010-02-11,3,15.0000,568.000000,62.000000,0,1,0,5372077.0,3361885.0,7002853.0,...,0,0,1,0,0,0,0,0,1,0
2010-02-10,4,20.0000,6.000000,61.000000,1,1,1,4515261.0,761321.0,1937712.0,...,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1/3/07 0:00,3749,7.0500,28.000000,50.000000,0,0,0,26300.0,202800.0,657658.0,...,0,0,0,0,0,0,0,1,0,0
7/30/97 0:00,3751,20.6667,7293.424463,54.812500,0,0,0,4703100.0,2526750.0,7261650.0,...,0,0,0,1,0,0,0,1,0,0
4/11/14 0:00,3752,23.7300,5473.000000,49.000000,0,0,0,5765164.0,2644271.0,6955747.0,...,0,0,0,0,0,0,0,0,0,1
5/6/05 0:00,3757,10.2500,8900.000000,57.000000,0,0,0,6793424.0,1954885.0,7014295.0,...,0,0,0,0,0,0,0,0,0,1
5/12/11 0:00,3759,5.6000,0.000000,47.000000,0,0,1,4987284.0,8667411.0,12673532.0,...,0,0,0,0,0,0,0,0,1,0

In [28]:
#Normalizing numerical variables for ML modeling
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

normalized_data_small = scaler.fit_transform(df_ipo_small)
normalized_data_large = scaler.fit_transform(df_ipo_large)

df_ipo_small_norm = pd.DataFrame(normalized_data_small, columns=df_ipo_small.columns)
df_ipo_large_norm = pd.DataFrame(normalized_data_large, columns=df_ipo_large.columns)

df_ipo_large_norm

,index,Price,employees,CEO_age,intra_day_up,intra_week_up,intra_month_up,firstday_volume,inweek_volume,inmonth_volume,...,sector_Public Utilities,sector_Real Estate,sector_Technology,sector_Transportation,sector_Utilities,IPO_weekday_0,IPO_weekday_1,IPO_weekday_2,IPO_weekday_3,IPO_weekday_4
0,0.000000,1.650060e-09,0.000226,0.499406,1.0,1.0,0.0,5.588088e-06,4.696931e-06,7.311114e-07,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.000266,5.238514e-09,0.000005,0.537313,1.0,1.0,1.0,2.042373e-05,4.754315e-07,2.196490e-07,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.000532,3.404998e-09,0.002625,0.388060,1.0,1.0,1.0,9.878413e-05,1.725313e-06,5.690558e-07,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.000798,3.928860e-09,0.001004,0.567164,0.0,1.0,0.0,3.141565e-05,2.661825e-06,8.045557e-07,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.001064,5.238514e-09,0.000011,0.552239,1.0,1.0,1.0,2.640504e-05,6.027878e-07,2.226232e-07,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3877,0.997340,1.846508e-09,0.000049,0.388060,0.0,0.0,0.0,1.538012e-07,1.605701e-07,7.555813e-08,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3878,0.997872,5.413144e-09,0.012886,0.459888,0.0,0.0,0.0,2.750351e-05,2.000594e-06,8.342888e-07,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
3879,0.998138,6.215517e-09,0.009670,0.373134,0.0,0.0,0.0,3.371441e-05,2.093643e-06,7.991437e-07,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3880,0.999468,2.684688e-09,0.015724,0.492537,0.0,0.0,0.0,3.972763e-05,1.547811e-06,8.058703e-07,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3881,1.000000,1.466709e-09,0.000000,0.343284,0.0,0.0,1.0,2.916540e-05,6.862558e-06,1.456058e-06,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [37]:
#Logistic Regression Modeling
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics

X = df_ipo_small_norm.drop(columns= ['intra_day_up', 'intra_week_up', 'intra_month_up'])
y = np.array(df_ipo_small_norm.intra_week_up)

#Dealing with class imbalances by specifying class penalties according to the inverse of the proportion


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

LogisticRegression()

In [38]:
y_pred = logreg.predict(X_test)
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logreg.score(X_test, y_test)))

Accuracy of logistic regression classifier on test set: 0.67

In [39]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report


print(classification_report(y_test, y_pred))
confusion_matrix = confusion_matrix(y_test, y_pred)
print(confusion_matrix)

              precision    recall  f1-score   support

         0.0       0.65      0.91      0.76        66
         1.0       0.73      0.33      0.46        48

    accuracy                           0.67       114
   macro avg       0.69      0.62      0.61       114
weighted avg       0.68      0.67      0.63       114

[[60  6]
 [32 16]]

In [36]:
#Looking at class imbalances
df_ipo_small_norm[['intra_day_up','intra_week_up', 'intra_month_up']].mean()

intra_day_up      0.386444
intra_week_up     0.412852
intra_month_up    0.423415
dtype: float64